/*
 * Copyright (C) 2013-2018 MNEMOTIX <http://www.mnemotix.com/> and/or its affiliates
 * and other contributors as indicated by the @author tags.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@type    : 'global';
@element : 'site';

@import (multiple) 'theme.config';


.sideBar{
  position: fixed !important ;
  & .logo{
    height: 3rem;
    background: @white;

    & path{
      fill: @primaryColor;
    }
  }

  & :global(.item) {
    text-transform: uppercase !important;
  }
}


.loginSplashScreen{
  text-align: center;
  margin-bottom: 2 * @emSize;

  & .logo{
    height: 10rem;
    background: @teal;

    & path{
      fill: @white;
    }
  }
}


.viewport{
  background: @pageBackground;
  min-height: 100vh;
}

.headerSection{
  margin-bottom: 2*@emSize;
}

.contentSection{
  min-height: calc(100vh - 2rem);
}

.menuItemCenter{
  flex: 1 !important;
  justify-content: center !important;
  padding-left: 9*@emSize !important;
}