/*
 * Copyright (C) 2013-2018 MNEMOTIX <http://www.mnemotix.com/> and/or its affiliates
 * and other contributors as indicated by the @author tags.
 * Licensed under the Apache License; Version 2.0 (the License);
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing; software
 * distributed under the License is distributed on an AS IS BASIS;
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND; either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *  
 */

@type    : 'global';
@element : 'site';

@import (multiple) 'theme.config';

.widget{
  position: relative;
}

.color{
  width: 6*@emSize;
  height: 2*@emSize;
  border-radius: 2px;
}

.swatch{
  padding: .5*@emSize;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  display: inline-block;
  cursor: pointer;
}
.popover{
  position: absolute;
  z-index: 2;
  top: 4*@emSize;

  input{
    height: 30px !important;
    padding: 0 0 0 .5*@emSize !important;
  }
}

.cover{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}