/*
 * Copyright (C) 2013-2018 MNEMOTIX <http://www.mnemotix.com/> and/or its affiliates
 * and other contributors as indicated by the @author tags.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@type: 'global';
@element: 'site';

@import (multiple) 'theme.config';

.header{
  padding: 0 !important;
}

@maxImageHeight: 20*@emSize;

.projectImage {
  max-height: @maxImageHeight;
  padding: 0 !important;
  background: @black;

  img {
    max-height: @maxImageHeight;
    width: auto;
  }
}

.coloredSpace {
  height: 7*@emSize;
}

.headerSegment {
  position: relative;
  background: @white;
}

.creatorAvatar {
  position: absolute;
  top: -2*@emSize;
  left: @emSize;
}

.projectEditSettingButton{
  position: absolute;
  top: 0;
  right: @emSize;
}

.projectTitle{
  margin: @emSize 6*@emSize @emSize 8*@emSize !important;
}

