/*
 * Copyright (C) 2013-2018 MNEMOTIX <http://www.mnemotix.com/> and/or its affiliates
 * and other contributors as indicated by the @author tags.
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 */

@type    : 'global';
@element : 'site';

@import (multiple) 'theme.config';

.expandIcon{
  position: absolute;
  right: @emSize !important;
  bottom: @emSize  !important;
  transform: none;
  font-size: 2.75*@fontSize !important;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff !important;;
  cursor: pointer;
  transition: transform 0.25s;

  &:hover{
    transform: scale(1.2) !important;
  }
}

img.isFullScreen{
  height: 100vh !important;
  width: auto;
}

.embed{
  position: relative;

  &.isFullScreen{
    height: 100vh !important;
  }
}
